.Security {
    border: 3px solid #4885a8;
    border-radius: 15px;
    margin: 20px 0;
    cursor: pointer;
    padding: 10px;
    position: relative;
}

.Security:hover,
.Stored {
    color: white;
    background-color: #4885a8;

}

.Stored:hover {
    background-color: crimson;
    border: 3px solid crimson;
}

.Security .Name,
.Security .StockExchange {
    font-size: 24px;
}
	
.Security:after,
.Security:before {
    content: "";
    display: block;
    background-color: white;
    position: absolute;
    top: 20px;
    transform: translate(-50%, -50%);
}

.Security:before {
    height: 20px;
    width: 3px;
    right: 12px;
}

.Stored:before {
    display: none;
}

.Security:after {
    height: 3px;
    width: 20px;
    right: -5px;
}