.Navbar {
    width: 100%;
    height: 50px;
    background-color: black;
    color: white;
    font-size: 24px;
}

.GridContainer {
    display: grid;
    grid-template-columns: auto auto auto;
    text-align: center;
}

.Title {
    padding-top: 10px;

}

.Add {
    text-align: right;
    padding-right: 15px;
    font-size: 32px;
    padding-top: 3px;
    font-family: sans-serif;
}