.EmptyStock {
    position: relative;
}

.EmptyStock::before,
.EmptyStock::after {
    content: "";
    display: block;
    background-color: #4885a8;
    position: absolute;
    top: 20px;
    transform: translate(-50%, -50%);
}

.EmptyStock:before {
    height:100px;
    width: 3px;
    left: 150px;
    top: 100px;
}

.EmptyStock:after {
    height: 3px;
    width: 100px;
    left: 150px;
    top: 100px;
}

.EmptyStock:hover:before,
.EmptyStock:hover:after {
    background-color: white;
}