.Stock {
    width: 300px;
    height: 300px;
    border: 3px solid #4885a8;
    border-radius: 15px;
    text-align: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    margin: 20px;
    color: #4885a8;
    font-family: -apple-system, 'Helvetica Neue', sans-serif;
}

.StockTicker {
    font-size: 36px;
    /* font-weight: bold; */
    font-family: 'Courier New', Courier, monospace;
}

.CurrentPrice {
    font-size: 24px;
}

.OpenPrice {
    font-size: 18px;
}

.PercGain {
    font-size: 24px;
}

.Positive {
    color: seagreen;
}

.Negative {
    color: firebrick
}