.News {
    text-align: left;
    font-family: -apple-system, 'Helvetica Neue', sans-serif;
    margin: 20px auto;
    border: 2px solid #4885a8;
    padding: 10px;
    width: 80%;
    max-width: 600px;
    cursor: pointer;
}

.News:hover {
    color: #4885a8;
}

.Source {
    font-size: 11px;
    color: #999;
    margin-bottom: 6px;
}

.Headline {
    font-size: 16px;
    margin-bottom: 4px;
}

.Summary {
    font-size: 14px;
    margin-bottom: 4px;
}